<html>
  <head>
    <meta charset="utf8">
    <script>
      function print_tags() {
        for(i=0;i<page.tags.length;i++) {
          document.write("# ", page.tags[i]);
        }
      }
    </script>
    <style>
      box{
        background-color: #8297ed;
        color: green;
        width: 40px;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <box>page.tags[0]</box>
  </body>
</html>


<!--
<p class="post-date text-bold text-upcase">
  {% if page.tags %}
      <span class="text-bold">{{ page.tags }}</span>
  {% endif %}
</p>
-->
