---
layout: blog-menu
---
<h1 class="post-title">Blog</h1><br>

{% if site.posts.size > 0 %}
  <h3 class="post-title">Paper review</h3><br>
    <ul>
      {% assign pap = site.posts | where: "categories", "paper-review" %}
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/filesy/paper-review" style="text-decoration:none">read more</a>
      </li>
    </ul><br>
<hr />
  <h3 class="post-title">Codes</h3><br>
    <ul>
      {% assign pap = site.posts | where: "categories", "codes" %}
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/codes" style="text-decoration:none">read more</a>
      </li>
    </ul><br>
<hr />
  <h3 class="post-title">Study</h3><br>
    <ul>
      {% assign pap = site.posts | where: "categories", "study" %}
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/study" style="text-decoration:none">read more</a>
      </li>
    </ul><br>
<hr />
  <h3 class="post-title">Schedules</h3><br>
    <ul>
      {% assign pap = site.posts | where: "categories", "schedules" %}
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/schedules" style="text-decoration:none">read more</a>
      </li>
    </ul><br>
<hr />
  <h3 class="post-title">Etc.</h3><br>
    <ul>
      {% assign pap = site.posts | where: "categories", "etc" %}
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/etc" style="text-decoration:none">read more</a>
      </li>
    </ul>
{% endif %}
