---
layout: blog-menu
---
<h1 class="post-title">Blog</h1><br>

{% if site.posts.size > 0 %}
  {% assign pap = site.posts | where: "categories", "paper-review" %}
  <h3 class="post-title">Paper review [{{ pap.size }}]</h3><br>
    <ul>
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/paper-review" style="text-decoration:none">read more</a>
      </li>
    </ul><br>
<hr />
  {% assign pap = site.posts | where: "categories", "codes" %}
  <h3 class="post-title">Codes [{{ pap.size }}]</h3><br>
    <ul>
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/codes" style="text-decoration:none">read more</a>
      </li>
    </ul><br>
<hr />
  {% assign pap = site.posts | where: "categories", "study" %}
  <h3 class="post-title">Study [{{ pap.size }}]</h3><br>
    <ul>
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/study" style="text-decoration:none">read more</a>
      </li>
    </ul><br>
<hr />
  {% assign pap = site.posts | where: "categories", "schedules" %}
  <h3 class="post-title">Schedules [{{ pap.size }}]</h3><br>
    <ul>
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/schedules" style="text-decoration:none">read more</a>
      </li>
    </ul><br>
<hr />
  {% assign pap = site.posts | where: "categories", "clipping" %}
  <h3 class="post-title">Clipping [{{ pap.size }}]</h3><br>
    <ul>
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/clipping" style="text-decoration:none">read more</a>
      </li>
    </ul><br>
<hr />
  {% assign pap = site.posts | where: "categories", "etc" %}
  <h3 class="post-title">Etc. [{{ pap.size }}]</h3><br>
    <ul>
      {% for post in pap limit:5 %}
        <li class="post-list-item">
          <span class="home-date">
            {{ post.date | date: site.theme_config.date_format }}»
          </span>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://maengkkong-rim.github.io/rim/files/etc" style="text-decoration:none">read more</a>
      </li>
    </ul>
{% endif %}
