---
layout: default
---
<a href="{{ "/" | relative_url }}" style="text-decoration:none">🌙&nbsp;{{ site.theme_config.back_home_text }}</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://maengkkong-rim.github.io/rim/blog" style="text-decoration:none">{{ site.theme_config.back_blog_text }}</a> &nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://maengkkong-rim.github.io/rim/tags/" style="text-decoration:none">{{ site.theme_config.back_tags_text }}</a>



<ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
  {% endfor %}
  
</ul>

{{ content }}
