---
layout: default
---

<a href="{{ "/" | relative_url }}" style="text-decoration:none">{{ site.theme_config.back_home_text }}</a> &nbsp;&nbsp;
<a href="https://maengkkong-rim.github.io/rim/blog" style="text-decoration:none">{{ site.theme_config.back_blog_text }}</a> &nbsp;&nbsp;
<a href="https://maengkkong-rim.github.io/rim/tags/" style="text-decoration:none">{{ site.theme_config.back_tags_text }}</a>

<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{% include tags.html %}

{{ content }}
