---
layout: post-menu
---

<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{% include tags.html %}
<div style="text-align: left;">
	<a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}" target="_blank">
	  <img src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}.svg" />
	</a>
</div> 

{{ content }}
